/* Start of the Portfolio 6 module first assignment */

/* Note here most of attribute using font-family in the section because when I give it global it did not work but when I implement it in as per element it work */

/* I designed as per my monitor size 1920*1080 and tab 100% default */

/* Global Css */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Work Sans', sans-serif;
}

main section {
  font-family: Merriweather;
  margin: 120px 140px;
  border-radius: 20px;
}

/* Header and Hero Section Style */

header {
  margin: 50px 140px 120px;
}

/* Here directly using background I got it from youtube but Mahbub Sir learn via multiple attribute Consider it to use it */
.hero-section {
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 180px 350px;
  border-radius: 16px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: Merriweather;
  font-weight: 700;
  margin: 170px auto 0;
  padding: 10px;
}

.hero-subtitle {
  max-width: 600px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 70px;
  font-weight: 900;
  margin: 0px auto;
  padding: 16px 0;
}

/* Offer Section Style */
.offer-section {
  text-align: center;
  font-family: Inter;
}

.offer-title {
  color: #f00;
  font-size: 85px;
  font-weight: 700;
}

.offer-section > p {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin: 50px auto 0;
}

.offer-subtitle {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin: 20px auto 0;
}

.offer-section > img {
  margin: 50px auto 0;
}

/* Celebrate section style */
/* Here directly using background value initiate of multiple single value*/

.celebrate-section {
  max-height: 600px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 65px 130px;
}

.celebrate-info {
  max-width: 650px;
}

.celebrate-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 90px;
  letter-spacing: 8px;
}

.celebrate-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 25px;
  line-height: 30px;
}

.celebrate-btn {
  margin-top: 45px;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Booking Section Style */

.booking-section {
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
  text-align: center;
  padding: 100px 400px;
}

.booking-section h3,
h4,
h5 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  margin-top: 15px;
}

.booking-section span {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.booking-section button {
  margin-top: 50px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Coming New year section style */
.coming-soon-section {
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-offer-section {
  width: 390px;
}

.new-offer-section h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.new-offer-section h4 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.new-offer-section p {
  margin-top: 35px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.coming-border-img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 15px solid #f00;
}
.coming-border-img img {
  margin: 40px;
  border-radius: 50%;
  background: lightgray -91.279px 0px / 150.038% 100% no-repeat;
}
.coming-new-year {
  width: 270px;
}

.coming-new-year h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.coming-new-year p {
  margin: 35px 0 40px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
}

/* New sale section style */
/* Here using fixed content as per class guideline I try to use only preset module related attribute and value
But We can make it alternative way that I get the information from youtube. So that the section need to consider
*/
.new-sale-section {
  text-align: center;
}

.new-sale-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
}
.new-sale-subtitle {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.new-sale-subtitle span {
  color: #f00;
  font-size: 72px;
  font-weight: 900;
}

.new-sale-description {
  width: 1000px;
  margin: 30px auto;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.new-sale-img {
  position: relative;
}

.discount-image-two,
.discount-image-three {
  position: relative;
}

.discount-image-three {
  left: 290px;
  top: 4px;
}

/* Here using minus value to fixed the image and using z-index for showing as per figma file*/

.discount-image-one {
  position: absolute;
  margin-left: -650px;
  z-index: 1;
}

.discount-image-two {
  left: 400px;
  z-index: 1;
}

/* Here using width vw in width */
.price-discount {
  height: 200px;
  width: 80vw;
  border-radius: 16px 0px 16px 16px;
  background: #f00;
}

/* Portfolio Section Style */
.portfolio-section {
  max-width: 100vw;
  text-align: left;
}
.portfolio-section h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.portfolio-section h4 {
  margin-top: 20px;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.portfolio-section p {
  max-width: 850px;
  margin-top: 20px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
}
.portfolio-img {
  margin-top: 30px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
/* For hover effect I need to apply more value but our module is not coming about animation or other related effect */
.portfolio-img img:hover {
  border-radius: 50%;
  opacity: 0.5;
  height: fit-content;
  width: fit-content;
}

/* Subscribe section style */
.subscribe-section {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 616px;
  text-align: center;
}

.subscribe-content {
  padding: 100px 350px;
  min-width: 850px;
}

.subscribe-section h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.subscribe-section p {
  margin-top: 25px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.subscribe-section input {
  width: 50%;
  border: none;
  outline: none;
  border-radius: 50px 0px 0 50px;
  background: #fff;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 30px 20px;
}

.subscribe-section button {
  border: none;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 30px 50px;
  margin-left: -5px;
  margin-top: 35px;
}

/* Footer Style */
footer {
  height: 300px;
  padding: 120px 140px;
  background: #070211;
}

/* Here using span tag initiate of hr tag. When using it I can not change the background */
.horizontal-line {
  margin: 50px auto;
  display: block;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-header p {
  max-width: 370px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.footer-contact {
  display: block;
  margin-right: 100px;
}
.footer-contact div {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
}

.footer-contact img {
  position: relative;
  margin: 0px 10px -6px;
}

.social-links {
  text-align: center;
}

.social-links a {
  text-decoration: none;
  margin-right: 25px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

/* End of the Portfolio 6 module first assignment */
